*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
  height:100vh;
  background:linear-gradient(to top,#b7ecff,#e8faff);
}

.sky{
  position:relative;
  width:100%;
  height:100vh;
}

.sun{
  width:120px;
  height:120px;
  background:gold;
  border-radius:50%;
  position:absolute;
  top:40px;
  right:120px;
  box-shadow:0 0 70px gold;
}

.cloud{
  position:absolute;
  width:140px;
  height:60px;
  background:white;
  border-radius:50px;
  animation:cloudMove 30s linear infinite;
}

.cloud::before,
.cloud::after{
  content:"";
  position:absolute;
  background:white;
  border-radius:50%;
}

.cloud::before{
  width:60px;
  height:60px;
  top:-20px;
  left:20px;
}

.cloud::after{
  width:70px;
  height:70px;
  top:-30px;
  right:20px;
}

.cloud1{
  top:80px;
  left:-200px;
}

.cloud2{
  top:160px;
  left:-400px;
  animation-duration:40s;
}

.tree{
  position:absolute;
  bottom:170px;
  left:15%;
  animation:sway 3s ease-in-out infinite alternate;
}

.trunk{
  width:70px;
  height:260px;
  background:#6d3f1d;
  border-radius:20px;
  margin:auto;
}

.leaves{
  width:260px;
  height:260px;
  background:#239b45;
  border-radius:50%;
  position:absolute;
  bottom:170px;
  left:50%;
  transform:translateX(-50%);
  box-shadow:
  -70px 40px #2daa4e,
  70px 40px #2daa4e,
  0 -50px #2daa4e;
}

.mango{
  width:20px;
  height:30px;
  background:gold;
  border-radius:50%;
  position:absolute;
  animation:mangoMove 2s infinite alternate;
}

.m1{
  top:60px;
  left:70px;
}

.m2{
  top:100px;
  left:160px;
}

.m3{
  top:150px;
  left:110px;
}

.house{
  position:absolute;
  bottom:170px;
  left:45%;
}

.roof{
  width:180px;
  height:80px;
  background:#a52a2a;
  clip-path:polygon(50% 0%,0% 100%,100% 100%);
}

.door{
  width:120px;
  height:120px;
  background:#d2b48c;
  margin:auto;
}

.river{
  position:absolute;
  bottom:120px;
  width:100%;
  height:60px;
  background:#4fc3f7;
  animation:water 3s linear infinite;
}

.person{
  position:absolute;
  bottom:180px;
  width:50px;
  height:120px;
  animation:walk 1s infinite alternate;
}

.woman{
  left:65%;
}

.man{
  left:75%;
}

.head{
  width:35px;
  height:35px;
  background:#ffcc99;
  border-radius:50%;
  margin:auto;
}

.body{
  width:22px;
  height:60px;
  margin:auto;
  border-radius:10px;
}

.saree{
  background:#e91e63;
}

.shirt{
  background:#2196f3;
}

.leg1,.leg2{
  width:10px;
  height:45px;
  background:#222;
  position:absolute;
  top:75px;
}

.leg1{
  left:10px;
}

.leg2{
  right:10px;
}

.cow{
  position:absolute;
  bottom:170px;
  right:12%;
  animation:cowMove 12s linear infinite;
}

.cow-body{
  width:120px;
  height:60px;
  background:white;
  border-radius:20px;
}

.cow-head{
  width:40px;
  height:40px;
  background:white;
  border-radius:50%;
  position:absolute;
  right:-25px;
  top:10px;
}

.ground{
  position:absolute;
  bottom:0;
  width:100%;
  height:170px;
  background:#4caf50;
}

.bird{
  width:25px;
  height:25px;
  border-top:3px solid black;
  border-radius:50%;
  position:absolute;
  animation:birdFly 12s linear infinite;
}

.bird1{
  top:120px;
  left:-100px;
}

.bird2{
  top:170px;
  left:-300px;
  animation-duration:16s;
}

@keyframes sway{
  from{
    transform:rotate(-2deg);
  }
  to{
    transform:rotate(2deg);
  }
}

@keyframes mangoMove{
  from{
    transform:rotate(-4deg);
  }
  to{
    transform:rotate(4deg);
  }
}

@keyframes cloudMove{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(1600px);
  }
}

@keyframes walk{
  from{
    transform:translateY(0);
  }
  to{
    transform:translateY(-8px);
  }
}

@keyframes water{
  from{
    background-position:0 0;
  }
  to{
    background-position:200px 0;
  }
}

@keyframes cowMove{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-1200px);
